/* #fetch{
    width:100px;
    height:100px; 
    transition: 2s; /*smoothly transformed*/
    /* display:flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
} */ 
/* #fetch:hover{
    transform: scale(1.5);
} */ 


/*  */
#fetch{
    width:100px;
    height:100px;
    transition: width 1s,height 4s;
    background-color: blue;
}
#fetch:hover{
    width: 400px;
    height: 400px;
    
}