.data{
    background-color: blue;
    width: 100vw;/*vw means viewport width i.e should be 100% width of that*/
    height: 100vh;
    
    

}
/* observe diff b/w vw ,vw with percentage */
.data1{
    background-color: pink;
    width: 100%;
    height: 100%;
}
button{
    
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    width: 40px;
}
@media screen and (min-width:480px)
{
    button{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
}
 /* for mobile devices we prefer -220 to 280px 
 for ipads and tablets -- 481 t0 768 px  
 for laptops and smallscreen -- 769 t0 1024 px 
 for large screens and desktop -- 1025 t0 1200px 
 for tv and arge screen --1201 to more */